In [ ]:
#2.1, 2.2 chapter 53 page

In [2]:
msg = 'Hello World'
print(msg)

Hello World

In [4]:
msg = 'Hello World'
print(msg)

msg= 'New msg'
print(msg)

Hello World
New msg

In [ ]:
#2.3 59 page

In [6]:
name = 'Stan'

msg = f'Hello {name}, nice too see you prcticing Py'
print(msg)

Hello Stan, nice too see you prcticing Py

In [ ]:
#2.4-2.8 60 page

In [8]:
name = 'stan kad'

print(name.title())
print(name.upper())
print(name.lower())

Stan Kad
STAN KAD
stan kad

In [28]:
name = '\t Hi Stan \n' #https://pythonz.net/references/named/control-characters/
print(name)
print(name.lstrip())
print(name.rstrip())
print(name.strip())

	 Hi Stan

Hi Stan

	 Hi Stan
Hi Stan

In [40]:
filename = 'py.txt'
print(filename)
print(filename.removesuffix('.txt'))

py.txt
py

In [42]:
import this #zen of Py

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
#3 chapter tasks

In [189]:
names = ['Roman', 'Alex', 'Yana', 'Fedor']

for name in names: 
    print(name)

Roman
Alex
Yana
Fedor

In [191]:
for name in names: 
    print(f'Hello, {name}, hope u are dung great today')

Hello, Roman, hope u are dung great today
Hello, Alex, hope u are dung great today
Hello, Yana, hope u are dung great today
Hello, Fedor, hope u are dung great today

In [193]:
# Alex could not join, we will replace him with Sabi

In [195]:
index = names.index('Alex')
print(names)
print(index)

names.insert(index, 'Sabi')
names.remove('Alex')
print(names)

['Roman', 'Alex', 'Yana', 'Fedor']
1
['Roman', 'Sabi', 'Yana', 'Fedor']

In [197]:
for name in names: 
    print(f'Hello, {name}, hope u will join us today')

Hello, Roman, hope u will join us today
Hello, Sabi, hope u will join us today
Hello, Yana, hope u will join us today
Hello, Fedor, hope u will join us today

In [199]:
names_len = len(names)
print(names_len)
print(names)
names.insert(0, 'Joe')
names.insert(names_len//2, 'Migo')
names.append('Chris')
print(names)

4
['Roman', 'Sabi', 'Yana', 'Fedor']
['Joe', 'Roman', 'Migo', 'Sabi', 'Yana', 'Fedor', 'Chris']

In [201]:
print(names)
while len(names) > 2: 
    names.pop()
print('Now we have only two guests')
print(names)

['Joe', 'Roman', 'Migo', 'Sabi', 'Yana', 'Fedor', 'Chris']
Now we have only two guests
['Joe', 'Roman']

In [203]:
while len(names) > 0:
    del names[0]
print(names)

[]

In [ ]:
# 3.8

In [223]:
places = ['Bali', 'Monreal', 'Copenhagen', 'Maldives', 'Sydney', 'New York']

In [225]:
print(places)

['Bali', 'Monreal', 'Copenhagen', 'Maldives', 'Sydney', 'New York']

In [235]:
print(sorted(places))

['Bali', 'Copenhagen', 'Maldives', 'Monreal', 'New York', 'Sydney']

In [237]:
print(places)

['Bali', 'Monreal', 'Copenhagen', 'Maldives', 'Sydney', 'New York']

In [241]:
places.reverse()
print(places)

['Bali', 'Monreal', 'Copenhagen', 'Maldives', 'Sydney', 'New York']

In [243]:
places.sort()
print(places)

['Bali', 'Copenhagen', 'Maldives', 'Monreal', 'New York', 'Sydney']

In [245]:
places[100]

IndexError: list index out of range

In [ ]:
#4.3

In [251]:
nums = [val for val in range(1, 21)]
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [255]:
nums = list(range(1, 21))
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [259]:
nums = list(range(1, 21, 2))
print(nums)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [261]:
nums = list(range(3, 31, 3))
print(nums)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [263]:
nums = [val**3 for val in range(1, 11)]
print(nums)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [265]:
nums = []

for num in range(1,11):
    nums.append(num**3);
print(nums)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
#4.10 slices

In [267]:
print(places)

['Bali', 'Copenhagen', 'Maldives', 'Monreal', 'New York', 'Sydney']

In [269]:
newPlaces = places[:]#full copy(shadow)

In [271]:
print(newPlaces)

['Bali', 'Copenhagen', 'Maldives', 'Monreal', 'New York', 'Sydney']

In [283]:
print(newPlaces[:3])
print(newPlaces[1:3])
print(newPlaces[-3:])

['Bali', 'Copenhagen', 'Maldives']
['Copenhagen', 'Maldives']
['Monreal', 'New York', 'Sydney']

In [285]:
places.append('Amster')
newPlaces.append('Barca')
print(places)
print(newPlaces)

['Bali', 'Copenhagen', 'Maldives', 'Monreal', 'New York', 'Sydney', 'Amster']
['Bali', 'Copenhagen', 'Maldives', 'Monreal', 'New York', 'Sydney', 'Barca']

In [287]:
#4.13 Tuples

In [289]:
menu = ('pizza', 'lasania', 'soup', 'chicken brests', 'meat', 'fish')
for item in menu:
    print(f'want to take {item}?')
print('We have it all')

want to take pizza?
want to take lasania?
want to take soup?
want to take chicken brests?
want to take meat?
want to take fish?
We have it all

In [291]:
menu[3] = 'steak' #tuples keep elems const

TypeError: 'tuple' object does not support item assignment

In [293]:
menu = ('pizza', 'lasania', 'soup', 'steak', 'meat', 'fish')
for item in menu:
    print(f'want to take {item}?')
print('We have it all')

want to take pizza?
want to take lasania?
want to take soup?
want to take steak?
want to take meat?
want to take fish?
We have it all

In [ ]:
#6 Dictionaies

In [ ]:
#6.1

In [297]:
person = {
    'name': 'Stan',
    'age': 31,
    'prof': 'Programmer'
}

print(person)

{'name': 'Stan', 'age': 31, 'prof': 'Programmer'}

In [299]:
for key,val in person.items(): #keys() values()
    print(f'{key}: {val}')

name: Stan
age: 31
prof: Programmer

In [ ]:
#7 cycles

In [303]:
car = input('Please specify your car');

print(f'your car is {car}')

Please specify your car VW polo

your car is VW polo

In [309]:
guestsNum = int(input('Please specify how many guests will be there?'));

if guestsNum < 8:
    print('Here is your table')
else:
    print('Please wait 20 mins')

Please specify how many guests will be there? 9

Please wait 20 mins

In [343]:
ingredients = []

while True:
    item = input('Please specify ingredient, or press q+enter to stop: ')
    if item == 'q' or item == '':
        break
    ingredients.append(item)
    print('Item was added.')

print(f'Ingredients you added: {ingredients}')

Please specify ingredient, or press q+enter to stop:  c

Item was added.

Please specify ingredient, or press q+enter to stop:  q

Ingredients you added: ['c']

In [345]:
#7.8 Sandwiches

In [353]:
sandwich_orders = ['pastrami', 'turkey', 'butter', 'turkey', 'cheezzzy', 'pastrami']

prepared_sandwiches = []

while 'pastrami' in sandwich_orders:
    sandwich_orders.remove('pastrami')

print('we run out of pastrami for today, sorry')

for snw in sandwich_orders[:]:
    
    prepared_sandwiches.append(snw)
    sandwich_orders.remove(snw)
    print(f'{snw} was prepared')
print(f'all sandwiches have been prepared: {prepared_sandwiches}')

we run out of pastrami for today, sorry
turkey was prepared
butter was prepared
turkey was prepared
cheezzzy was prepared
all sandwiches have been prepared: ['turkey', 'butter', 'turkey', 'cheezzzy']

In [ ]:
#8 Functions

In [355]:
def display_msg(msg):
    print(msg)

display_msg('Hey, we are testing functions')

Hey, we are testing functions

In [357]:
def print_tshirt(size, text):
    print(f'you will get {size} size tshirt with text: {text}')

print_tshirt('M', 'HEY DUMMY')
print_tshirt(text= 'M', size = 'HEY DUMMY')

you will get M size tshirt with text: HEY DUMMY
you will get HEY DUMMY size tshirt with text: M

In [359]:
def print_tshirt(size = 'L', text = 'I love Py'):
    print(f'you will get {size} size tshirt with text: {text}')

print_tshirt('M', 'HEY DUMMY')
print_tshirt()

you will get M size tshirt with text: HEY DUMMY
you will get L size tshirt with text: I love Py

In [ ]:
#8.7

In [375]:
def make_album(artist_name, album_title, tracks_nums=None):
    album = {"artist_name": artist_name, "album_title": album_title}
    if tracks_nums:
        album['tracks_nums'] = tracks_nums
    return album
print(make_album('lol', 'kek'))

{'artist_name': 'lol', 'album_title': 'kek'}

In [377]:
albums = []
while True: 
    artist = input('Please type artist name or q for exit')
    if artist == 'q':
        break
    title = input('Please type album title')
    album = make_album(artist,title)
    albums.append(album)
    print(album)

print(albums)

Please type artist name or q for exit Post Malone
Please type album title Stoney

{'artist_name': 'Post Malone', 'album_title': 'Stoney'}

Please type artist name or q for exit B&B
Please type album title Posty

{'artist_name': 'B&B', 'album_title': 'Posty'}

Please type artist name or q for exit q

[{'artist_name': 'Post Malone', 'album_title': 'Stoney'}, {'artist_name': 'B&B', 'album_title': 'Posty'}]

In [384]:
#8.9

In [436]:
messages = ['hello', 'how are you', 'what is new', 'hehehe']

In [438]:
send_messages = []

In [440]:
def show_messages(msgs_list):
    archived_messages = messages[:]
    while messages:
        msg = messages.pop(0)
        send_messages.append(msg)
        print(msg)

    print(send_messages, 'messages')
    print(messages, 'messages')
    print(archived_messages, 'archived')

In [442]:
show_messages(messages)

hello
how are you
what is new
hehehe
['hello', 'how are you', 'what is new', 'hehehe'] messages
[] messages
['hello', 'how are you', 'what is new', 'hehehe'] archived

In [ ]:
#9 Classes

In [468]:
class Restaurant(): 
    def __init__(self, r_name, cuisine_type):
        self.r_name = r_name
        self.cuisine_type = cuisine_type
        self.number_served = 0

    def set_num_served(self, num):
        self.number_served = num
    def increment_num_served(self):
        self.number_served += 1
    
    def desctibe_r(self): 
        print(self.r_name, ' - Name')
        print(self.cuisine_type, ' - Cuisine')
        print(self.number_served, ' - num served')
    def open_r(self):
        print(f'restaurant {self.r_name} is open')

r1 = Restaurant('Ratatue', 'Italian')

print(r1.r_name)
print(r1.cuisine_type) 

r1.desctibe_r()
r1.open_r()

r1.set_num_served(5)
r1.increment_num_served()

r1.desctibe_r()

Ratatue
Italian
Ratatue  - Name
Italian  - Cuisine
0  - num served
restaurant Ratatue is open
Ratatue  - Name
Italian  - Cuisine
6  - num served

In [470]:
class User():
    def __init__(self, first_name, last_name, age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
    def describe_u(self):
        print('Name:', self.first_name, self.last_name)
        print('Age:', self.age)

In [472]:
user1 = User('Stan', 'Kad', 31)
user1.describe_u()

Name: Stan Kad
Age: 31

In [ ]:
#class inheritance

In [486]:
class IceCreamStand(Restaurant):
    def __init__(self, r_name, cuisine_type, flavours):
        super().__init__(r_name, cuisine_type)
        self.flavours = flavours
    def describe_icecream_store(self):
        print(self.r_name, 'r_name')
        print(self.cuisine_type, 'cuisine_type')
        print(self.flavours, 'flavours')

In [490]:
icecream = IceCreamStand('Andys', 'Desert', ['chocolate', 'vanilla'])

icecream.desctibe_r()

Andys  - Name
Desert  - Cuisine
0  - num served