In [ ]:
#2.1, 2.2 chapter 53 page

In [2]:
msg = 'Hello World'
print(msg)

Hello World

In [4]:
msg = 'Hello World'
print(msg)

msg= 'New msg'
print(msg)

Hello World
New msg

In [ ]:
#2.3 59 page

In [6]:
name = 'Stan'

msg = f'Hello {name}, nice too see you prcticing Py'
print(msg)

Hello Stan, nice too see you prcticing Py

In [ ]:
#2.4-2.8 60 page

In [8]:
name = 'stan kad'

print(name.title())
print(name.upper())
print(name.lower())

Stan Kad
STAN KAD
stan kad

In [28]:
name = '\t Hi Stan \n' #https://pythonz.net/references/named/control-characters/
print(name)
print(name.lstrip())
print(name.rstrip())
print(name.strip())

	 Hi Stan

Hi Stan

	 Hi Stan
Hi Stan

In [40]:
filename = 'py.txt'
print(filename)
print(filename.removesuffix('.txt'))

py.txt
py

In [42]:
import this #zen of Py

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
#3 chapter tasks

In [189]:
names = ['Roman', 'Alex', 'Yana', 'Fedor']

for name in names: 
    print(name)

Roman
Alex
Yana
Fedor

In [191]:
for name in names: 
    print(f'Hello, {name}, hope u are dung great today')

Hello, Roman, hope u are dung great today
Hello, Alex, hope u are dung great today
Hello, Yana, hope u are dung great today
Hello, Fedor, hope u are dung great today

In [193]:
# Alex could not join, we will replace him with Sabi

In [195]:
index = names.index('Alex')
print(names)
print(index)

names.insert(index, 'Sabi')
names.remove('Alex')
print(names)

['Roman', 'Alex', 'Yana', 'Fedor']
1
['Roman', 'Sabi', 'Yana', 'Fedor']

In [197]:
for name in names: 
    print(f'Hello, {name}, hope u will join us today')

Hello, Roman, hope u will join us today
Hello, Sabi, hope u will join us today
Hello, Yana, hope u will join us today
Hello, Fedor, hope u will join us today

In [199]:
names_len = len(names)
print(names_len)
print(names)
names.insert(0, 'Joe')
names.insert(names_len//2, 'Migo')
names.append('Chris')
print(names)

4
['Roman', 'Sabi', 'Yana', 'Fedor']
['Joe', 'Roman', 'Migo', 'Sabi', 'Yana', 'Fedor', 'Chris']

In [201]:
print(names)
while len(names) > 2: 
    names.pop()
print('Now we have only two guests')
print(names)

['Joe', 'Roman', 'Migo', 'Sabi', 'Yana', 'Fedor', 'Chris']
Now we have only two guests
['Joe', 'Roman']

In [203]:
while len(names) > 0:
    del names[0]
print(names)

[]

In [ ]:
# 3.8

In [223]:
places = ['Bali', 'Monreal', 'Copenhagen', 'Maldives', 'Sydney', 'New York']

In [225]:
print(places)

['Bali', 'Monreal', 'Copenhagen', 'Maldives', 'Sydney', 'New York']

In [235]:
print(sorted(places))

['Bali', 'Copenhagen', 'Maldives', 'Monreal', 'New York', 'Sydney']

In [237]:
print(places)

['Bali', 'Monreal', 'Copenhagen', 'Maldives', 'Sydney', 'New York']

In [241]:
places.reverse()
print(places)

['Bali', 'Monreal', 'Copenhagen', 'Maldives', 'Sydney', 'New York']

In [243]:
places.sort()
print(places)

['Bali', 'Copenhagen', 'Maldives', 'Monreal', 'New York', 'Sydney']

In [245]:
places[100]

IndexError: list index out of range

In [ ]:
#4.3

In [251]:
nums = [val for val in range(1, 21)]
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [255]:
nums = list(range(1, 21))
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [259]:
nums = list(range(1, 21, 2))
print(nums)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [261]:
nums = list(range(3, 31, 3))
print(nums)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [263]:
nums = [val**3 for val in range(1, 11)]
print(nums)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [265]:
nums = []

for num in range(1,11):
    nums.append(num**3);
print(nums)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
#4.10 slices

In [267]:
print(places)

['Bali', 'Copenhagen', 'Maldives', 'Monreal', 'New York', 'Sydney']

In [269]:
newPlaces = places[:]#full copy(shadow)

In [271]:
print(newPlaces)

['Bali', 'Copenhagen', 'Maldives', 'Monreal', 'New York', 'Sydney']

In [283]:
print(newPlaces[:3])
print(newPlaces[1:3])
print(newPlaces[-3:])

['Bali', 'Copenhagen', 'Maldives']
['Copenhagen', 'Maldives']
['Monreal', 'New York', 'Sydney']

In [285]:
places.append('Amster')
newPlaces.append('Barca')
print(places)
print(newPlaces)

['Bali', 'Copenhagen', 'Maldives', 'Monreal', 'New York', 'Sydney', 'Amster']
['Bali', 'Copenhagen', 'Maldives', 'Monreal', 'New York', 'Sydney', 'Barca']

In [287]:
#4.13 Tuples

In [289]:
menu = ('pizza', 'lasania', 'soup', 'chicken brests', 'meat', 'fish')
for item in menu:
    print(f'want to take {item}?')
print('We have it all')

want to take pizza?
want to take lasania?
want to take soup?
want to take chicken brests?
want to take meat?
want to take fish?
We have it all

In [291]:
menu[3] = 'steak' #tuples keep elems const

TypeError: 'tuple' object does not support item assignment

In [293]:
menu = ('pizza', 'lasania', 'soup', 'steak', 'meat', 'fish')
for item in menu:
    print(f'want to take {item}?')
print('We have it all')

want to take pizza?
want to take lasania?
want to take soup?
want to take steak?
want to take meat?
want to take fish?
We have it all

In [ ]:
#6 Dictionaies

In [ ]:
#6.1

In [297]:
person = {
    'name': 'Stan',
    'age': 31,
    'prof': 'Programmer'
}

print(person)

{'name': 'Stan', 'age': 31, 'prof': 'Programmer'}

In [299]:
for key,val in person.items(): #keys() values()
    print(f'{key}: {val}')

name: Stan
age: 31
prof: Programmer

In [ ]:
#7 cycles

In [303]:
car = input('Please specify your car');

print(f'your car is {car}')

Please specify your car VW polo

your car is VW polo

In [309]:
guestsNum = int(input('Please specify how many guests will be there?'));

if guestsNum < 8:
    print('Here is your table')
else:
    print('Please wait 20 mins')

Please specify how many guests will be there? 9

Please wait 20 mins

In [331]:
ingredients = []

while True:
    item = input('Please specify ingredient, or press q+enter to stop: ')
    if item == 'q' or item == '':
        break
    ingredients.append(item)
    print('Item was added.')

print(f'Ingredients you added: {ingredients}')

Please specify ingredient, or press q+enter to stop:  apple

Item was added.

Please specify ingredient, or press q+enter to stop:  pineapple

Item was added.

Please specify ingredient, or press q+enter to stop:  q

Ingredients you added: ['apple', 'pineapple']